#wrap {
    width: 100%;
    background-color: #F6F5E8;
}

#header {
    position: relative;
    width: 100%;
    height: 500px;
}

#header_in {
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 120px;
    z-index: 9999;
}


#header_in .logo {
    width: 13%;
    height: 55px;
    margin-left: 40px;
}

#header_in .logo img {
    width: 100%;
    margin-top: 40px;
}

/* 네비게이션 */
#header_in .nav {
    width: 60%;
    height: 30px;
    margin-left: 220px;
}

#header_in .nav>li {
    float: left;
    width: 17%;
    height: 30px;
    line-height: 10px;
    position: relative;
    text-align: center;
}

#header_in .nav>li>a {
    display: block;
    font-size: 17px;
    color: #fff;
}

#header_in .sub {
    position: absolute;
    top: 40px;
    left: -15px;
    width: 120px;
    height: 160px;
    z-index: 9999;
    background-color: #252525;
    border: 1px solid #9d9d9d;
}

#header_in .sub>li {
    height: 40px;
    padding: 3px 0;
    line-height: 30px;
    box-sizing: border-box;
    border-bottom: 1px solid #3e3e3e;
}

#header_in .sub>li>a {
    font-size: 14px;
    color: #fff;
    
}

/* 로그인 카트 */
#header_in .nav_sub {
    float: right;
    margin-top: -30px;
    width: 200px;
    height: 60px;
}

#header_in .nav_sub ul li {
    float: left;
    margin-right: 20px;
}

#header_in .nav_sub ul li:first-child {
    margin-left: 90px;
}

#header_in .nav_sub ul li:last-child {
    margin-right: 0px;
}

#header_in .nav_sub ul li a {
    font-size: 16px;
    color: #ffffff;
}

#header_in .barmenu {
    display: none;
}

/* 메인 이미지 슬라이드 */
#header .mainimg {
    position: relative;
    width: 100%;
    height: 500px;
}

#header .main_slide {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

#header .mainimg .m_slide {
    width: 100%;
    height: 500px;
}

#header .mainimg .m_slide > li {
    position: absolute;
    top: 0;
    width: 100%;
    height: 500px;
}

#header .mainimg .m_slide li:nth-child(1) {
    left: 0%;
}
#header .mainimg .m_slide li:nth-child(2) {
    left: 100%;
}
#header .mainimg .m_slide li:nth-child(3) {
    left: 200%;
}

#header .main_slide li img {
    width: 100%;
}

#header .main_btn {
    position: absolute;
    top: 100%;
    left: 150px;
}

#header .main_btn li {
    float: left;
    width: 100px;
    height: 20px;
    margin-right: 10px;
    border-radius: 20px;
    background-color: #666;
}



/* 텍스트 부분 */
#text_area {
    width: 100%;
    height: 360px;
}

#text_area .text_in {
    margin: 0 auto;
    width: 100%;
    height: 360px;
    text-align: center;
}

#text_area .text_in h3 {
    /* padding-top: 100px; */
    font-size: 20px;
    color: #555;
    line-height: 40px;
}

/* 인기상품 */
#popular {
    width: 100%;
    height: 800px;
}

#popular .popular_in {
    margin: 0 auto;
    width: 100%;
    height: 800px;
}

/* 팝 헤더 */
#popular .pop_h {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

#popular .pop_h h3 {
    font-size: 30px;
    margin-left: 30px;
}

#popular .pop_h a {
    font-size: 20px;
    color: #666;
    margin-right: 20px;
}

/* 팝 바디 */
#popular .pop_b {
    width: 100%;
    height: 600px;
}

#popular .pop_b ul {
    display: flex;
    justify-content: space-between;
}

#popular .pop_b li {
    width: 31.4%;
    height: 300px;
    text-align: center;
    box-sizing: border-box;
}

#popular .pop_b li:nth-child(2) {
    padding-top: 155px;
}

#popular .pop_b li:nth-child(3) {
    padding-top: 30px;
}

#popular .pop_b li img {
    width: 100%;
}

#popular .pop_b li h5 {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#popular .pop_b li p {
    color: #888;
    font-size: 12px;
}

/* 퍼스널향 */
#perfume {
    width: 100%;
    height: 400px;
    margin-top: 30px;
    display: flex;
}

#perfume .per_h {
    width: 100%;
    height: 400px;
    padding-top: 30px;
    margin-left: 30px;
    box-sizing: border-box;
}

#perfume .per_h p {
    font-size: 18px;
    margin-bottom: 30px;
}

#perfume .per_h h2 {
    font-size: 40px;
    margin-bottom: 30px;
}

#perfume .per_h span {
    display: block;
    width: 420px;
    height: 100px;
    line-height: 22px;
    color: #555;
}

#perfume .per_h .btn {
    width: 200px;
    height: 70px;
    margin-top: 50px;
    font-size: 18px;
    background-color: #F6F5E8;
    border: 1px solid #555;
}

#perfume .per_h .btn:hover {
    background-color: #fffff9;
}

#perfume .per_h .btn a {
    color: #555;
}

#perfume .per_b {
    width: 100%;
    height: 330px;
    background-color: #555;
    margin-top: 35px;
    margin-left: 50px;
    background: url(../images/sb02.png) no-repeat 90% 60%;
    background-size: 1300px;
}

#perfume .per_b img {
    display: none;
}

/* 홈케어 */
#homecare {
    width: 100%;
    height: 600px;
    margin-top: 250px;
    border-bottom: 5px solid #adadad;
}

#homecare .home_h {
    width: 100%;
    margin-bottom: 100px;
    text-align: center;
}

#homecare .home_h h3 {
    font-size: 40px;
}

/* 홈케어 바디 */
#homecare .home_b {
    position: relative;
    width: 100%;
    height: 550px;
    overflow: hidden;
}
#homecare .home_view {
    position: absolute;
    left: 0;
    top: 0;
    width: 2450px;
    transition: left 0.5s ease-out;
}

#homecare .home_b li {
    float: left;
    margin-right: 10px;
    width: 12.7%;
    height: 200px;
    text-align: center;
}

#homecare .home_b li:last-child {
    margin-right:0px;
}

#homecare .home_b .img {
    height: 300px;
}

#homecare .home_b li img {
    width: 80%;
}

#homecare .home_b li h5 {
    font-size: 18px;
    margin-bottom: 20px;
}

#homecare .home_b li p {
    font-size: 14px;
    color: #888;
}

#homecare .controls {
    text-align: center;
}

#homecare .controls button {
    position: absolute;
    border: 0;
    background-color: transparent;
    padding: 10px 20px;
    margin: 0 10px;
}

#homecare .controls .prev {
    position: relative;
    left: -400px;
    top: 100px;
    cursor: pointer;
}

#homecare .controls .next {
    position: relative;
    right: -450px;
    top: 100px;
    cursor: pointer;
}

/* 스토어 로케이터 / 인포 */
#info {
    width: 100%;
    height: 1000px;
}

#info .info_in {
    margin: 0 auto;
    width: 100%;
    padding: 200px 0;
    display: flex;
    justify-content: space-between;
}

#info .location {
    width: 53.5%;
    box-sizing: border-box;
}

#info .location h3 {
    font-size: 32px;
    margin-bottom: 20px;
}

#info .location p {
    line-height: 20px;
    margin-bottom: 30px;
}

#info .location .btn {
    width: 400px;
    height: 60px;
    padding: 0 0 0 20px;
    box-sizing: border-box;
    line-height: 60px;
    border: 1px solid #c9c9c9;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}

#info .location .btn a {
    color: #555;
}

#info .location .btn img {
   width: 50px;
   height: 50px;
   padding-top: 4px;
}


/* 로케이션 이미지 슬라이드 */

#info .slide {
    position: relative;
    width: 100%;
    height: 315px;
    margin-top: 25px;
    
}

#info .slide .view_area {
    position: relative;
    width: 100%;
    height: 315px;
    overflow: hidden;
}

#info .slide .view_area img {
    width: 100%;
}

#info .slide .view {
    width: 100%;
    height: 450px;
}

#info .slide .view > li {
    position: absolute;
    top: 0;
    width: 100%;
    height: 450px;
}

#info .slide .view > li:nth-child(1) {
    left: 0%;
}

#info .slide .view > li:nth-child(2) {
    left: 100%;
}

#info .slide .view > li:nth-child(3) {
    left: 200%;
}

#info .slide .btn_b {
    position: absolute;
    width: 100%;
    height: 5px;
    margin-top: 2px;
    background-color: #c0c0c0;
}

#info .slide .btn_b li {
    width: 25%;
    height: 1.5px;
    background-color: #555;
}

#info .slide .btn_b li a {
    display: block;
    width: 25%;
    height: 1.5px;
    background-color: #555;
}

/* 오른쪽 인포 */
#info .info_r {
    width: 42.8%;
}

#info .info_r .thank {
    width: 100%;
    height: 255px;
    padding: 50px 30px;
    box-sizing: border-box;
    border: 1px solid #cbcbcb;
    background: url(../images/info01-1.png) no-repeat 100% 0;
    background-size: 50%;
    background-color: #fff;
}

#info .info_r .thank li {
    font-size: 10px;
    margin-bottom: 15px;
}

#info .info_r .thank h5 {
    font-size: 22px;
    color: #1a1a1a;
    margin-bottom: 20px;
}

#info .info_r .thank h5 a {
    color: #555;
}

#info .info_r .thank p {
    width: 40%;
    font-size: 12px;
    color: #666;
    line-height: 14px;
}

#info .info_r .gift {
    width: 100%;
    height: 255px;
    padding: 50px 30px;
    box-sizing: border-box;
    margin-top: 20px;
    border: 1px solid #cbcbcb;
    background: url(../images/info02-1.png) no-repeat 100% 0;
    background-size: 50%;
    background-color: #fff;
}

#info .info_r .gift li {
    font-size: 10px;
    margin-bottom: 15px;
}

#info .info_r .gift h5 {
    font-size: 22px;
    color: #555;
    margin-bottom: 20px;
}

#info .info_r .gift h5 a {
    color: #555;
}

#info .info_r .gift p {
    width: 40%;
    font-size: 12px;
    color: #666;
    line-height: 14px;
}

/* 하단 부분 */
#footer {
    width: 100%;
    height : 450px;
    background-color: #252525;

}

#footer .footer_in {
    width: 100%;
    height : 450px;
    padding: 70px 30px;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
}

#footer .footer_in ul {
    display: flex;
    justify-content: space-between;
    
}

#footer .footer_in li {
    width: 16.4%;
    height: 270px;
}

#footer .footer_in li:nth-child(2) {
    padding-left: 10px;
    box-sizing: border-box;
}

#footer .footer_in li:nth-child(3) {
    padding-left: 30px;
    box-sizing: border-box;
}

#footer .footer_in li:last-child {
    width: 26.4%;
}

#footer .footer_in li h5 {
    font-size: 18px;
    color: #F6F5E8;
    margin-bottom: 20px;
}

#footer .footer_in li p {
    font-size: 14px;
    line-height: 35px;
    color: #d2d2d2;
}

#footer .footer_in li a {
    font-size: 14px;
    color: #d2d2d2;
}

#footer .footer_in .line {
    width: 100%;
    height: 3px;
    background-color: #b4b0a2;
}

#footer .footer_in li img {
    width: 15%;
    margin: 0 4px;
}

#footer .footer_in .sns {
    display: none;
}